<!DOCTYPE html>
<html>
<head>
  <style>
    h1{
      font-size: 40px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(0,255,0)
    }
  </style>
  <title>Document</title>
</head>
<body>
  <h1>Find Careers</h1>
  <img src= "https://e7f7be31-eba9-4515-89ca-3a574dcd808d-00-35jkoghm0anwh.spock.replit.dev/static/front_image.jpg" alt="front_image"  height="320">
  <h2>About Careers</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nibh vitae justo condimentum dapibus posuere vel libero. Donec laoreet quam hendrerit justo sagittis lacinia a viverra purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In ornare ex eget enim interdum, in eleifend eros tincidunt. Nulla nec mi eget nisl feugiat mattis eget vel nunc. Ut bibendum nibh ut sollicitudin volutpat. Integer pulvinar quam rutrum tortor ultrices, a tristique nibh egestas.

  Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris eget nisl odio. Vestibulum sit amet dolor id est imperdiet finibus id at tellus. Duis eget ex turpis. Donec ut ornare lorem, vel semper ante. In eget sem turpis. Phasellus mauris sapien, tincidunt sit amet augue venenatis, rutrum efficitur libero. Praesent sit amet sagittis magna. Pellentesque quis blandit purus. Aenean pellentesque congue dignissim. Suspendisse nec urna consectetur, mattis tellus sit amet, fermentum nisl. Sed quis viverra urna. Aenean tincidunt in elit in porttitor.

  Etiam arcu lacus, dignissim non felis at, suscipit malesuada felis. Maecenas faucibus metus vitae elit eleifend, et pharetra sapien ullamcorper. Donec ut massa a ligula facilisis rhoncus et in nisi. Nunc eget felis a justo scelerisque vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Duis malesuada, dui et tincidunt cursus, ex tellus iaculis leo, sit amet dictum metus nulla at tortor. Aliquam at nibh sed lectus egestas varius id dictum turpis. Cras pharetra convallis cursus. Nullam pretium tincidunt ante, nec rutrum urna cursus sit amet. Vestibulum ac ipsum enim. Proin nunc nunc, volutpat porttitor porttitor eu, egestas vel magna. Maecenas rutrum tincidunt massa, ac finibus mauris egestas eu. Ut molestie tortor erat, a dignissim justo accumsan sed. Cras sapien ipsum, vulputate sed lorem et, pretium dictum metus. Donec sed suscipit est.

  Maecenas vitae dapibus magna. Morbi placerat vel diam vitae posuere. Nulla diam dui, porta nec volutpat nec, accumsan a tellus. In dui erat, feugiat ut tincidunt quis, viverra ut ex. Sed sodales, est ac aliquam aliquet, enim sapien tempor lorem, at finibus magna elit a tellus. Vestibulum ultricies, quam ut imperdiet eleifend, ipsum augue egestas odio, quis vehicula orci ligula eu risus. Sed et diam ac felis maximus tincidunt eu elementum velit. Etiam fermentum luctus posuere. Fusce aliquam nunc id risus ultrices rutrum. Maecenas ut scelerisque ipsum. Sed dolor nunc, molestie nec suscipit feugiat, mattis sit amet ligula. Proin eget arcu elementum, condimentum purus eu, facilisis leo.

  Pellentesque aliquet enim sit amet est tincidunt fringilla. Donec in neque vel nunc porta fringilla ultricies ac augue. Proin consectetur hendrerit nibh, ac posuere libero. Aenean ex arcu, scelerisque eu ornare nec, lobortis vitae lacus. Mauris imperdiet lobortis mi, vel interdum ante interdum nec. Suspendisse in ante nec massa fringilla aliquet. Praesent sit amet dolor dignissim, mollis nibh id, eleifend massa. Etiam laoreet felis elit, ut porta turpis suscipit quis. Praesent facilisis magna eu mauris varius, id suscipit lacus lobortis. Vestibulum eu elit ante.</p>
  <h2>Open Positions</h2>
  <p>TODO: show the jobs here</p>
  <button>Contact Us</button>
</body>
</html>